body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(247, 236, 247); /* 设置背景颜色为紫色 */
    color: rgb(12, 4, 4); /* 设置字体颜色为白色 */
}
nav {
    margin: 20px 0;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #FFD700; /* 设置导航链接颜色为金色 */
}
nav a:hover {
    text-decoration: underline;
}